# secrets / local configs
.env
*.env

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
**/__pycache__/
*.py[cod]
.venv/
poetry*
.python-version

# Dev code
scripts/extract_input.sh
src/data_platform/qbo/dev/

# .pdf exports for .md files
*.pdf

# company info
notebooks_dev/
src/data_platform/qbo/json_configs/io/
src/data_platform/qbo/json_configs/contracts/
